<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="dark" mode="md">
      {{this.username}}
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="dark" (click)="options()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="profile-header ion-align-items-center">
      <ion-col size="auto">
        <ion-avatar class="avatar-lg has-update has-status">
          <img src="{{this.profileimg}}" alt="">
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row class="profile-stats">
          <ion-col>
            <div class="stats-number">1,329</div>
            <div class="stats-label">Posts</div>
          </ion-col>
          <ion-col>
            <div class="stats-number">9,329</div>
            <div class="stats-label">Followers</div>
          </ion-col>
          <ion-col>
            <div class="stats-number">5,329</div>
            <div class="stats-label">Following</div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <div class="ion-padding profile-info">
      <strong>{{this.title}} {{this.first}} {{this.last}}</strong>
      <div>
        NodeJS Programmer
      </div>
      <div>
        Follow me for NodeJS tips and tricks - Experienced Full stack Developer. <a href="https://otekit.com/en">Otekit</a>
      </div>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" fill="outline" color="dark" size="small">
        Edit Profile
      </ion-button>
    </div>

    <ion-row>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of stories; let i = index">
          <ion-col>
            <ion-thumbnail>
              <ion-icon *ngIf="i === 0" name="add" color="dark"></ion-icon>
              <img *ngIf="i > 0" [src]="item?.src"/>
            </ion-thumbnail>
            <p>
              <ion-text color="dark">
                {{item?.name}}
              </ion-text>
            </p>
          </ion-col>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row class="images" (ionChange)="buttonsChanged($event)">
      <ion-segment mode="md" [value]="buttonValue">
        <ion-segment-button [value]="item?.value" *ngFor="let item of buttonItems">
          <ion-icon [name]="buttonValue === item?.value ? item?.icon : item?.icon + '-outline'"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>

  <div [ngSwitch]="buttonValue">
    <ion-list lines="none" *ngSwitchCase="'grid'" class="photo-grid">
      <div *ngFor="let item of posts; let i = index">
        <ion-grid *ngIf="i%3 === 0" class="noPadding">
          <ion-row *ngIf="i%9 === 0">
            <ion-col size="8">
              <div class="image-container1 image-container" [style.background-image]="'url(' + item?.url + ')'"></div>
            </ion-col>
            <ion-col size="4">
              <div *ngIf="posts[i + 1]" class="image-container image-container3" [style.background-image]="'url(' + posts[i+1]?.url + ')'"></div>
              <div *ngIf="posts[i + 2]" class="image-container image-container4" [style.background-image]="'url(' + posts[i+2]?.url + ')'"></div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="i%9 > 2">
            <ion-col size="4">
              <div class="image-container" [style.background-image]="'url(' + item?.url + ')'"></div>
            </ion-col>
            <ion-col size="4">
              <div *ngIf="posts[i + 1]" class="image-container" [style.background-image]="'url(' + posts[i+1]?.url + ')'" alt='lorem ipsum'></div>
            </ion-col>
            <ion-col size="4">
              <div *ngIf="posts[i + 2]" class="image-container" [style.background-image]="'url(' + posts[i+2]?.url + ')'"></div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
  </div>
</ion-content>
